#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule shop index.php?controller=product&action=shop
#RewriteRule /show/([0-9]{1,}) index?controller=product&action=show&id=$1
#RewriteRule index project/index.php
#RewriteRule giohang index.php?controller=cart&action=index
#RewriteRule thanhtoan index.php?controller=payment&action=index